{{=<% %>=}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/site.css" />
  {{{block "stylesheets"}}}
</head>
<body>
  {{{body}}}
  <footer>
    <p>Designed and built by TR <a href="mailto:seth.w.yuan@newegg.com">@sethyuan</a></p>
  </footer>
  {{{block "scripts"}}}
</body>
</html>
