.DS_Store
*.swp
node_modules

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*.map
lib/main.js
lib/main-out/
test/main-test.js
test/main-out/
