#intro {}

#intro.present {}

#intro.future {}

#intro.past {}

.step {
  box-sizing: border-box;
  width: 800px;
  padding: 40px;
  margin: 20px auto;
}

.hint {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.85);
  color: rgb(240, 240, 240);
  font: normal 2em/2em Consolas, Courier, monospace;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.5s;
}

.show {
  transform: translateY(0);
}
